<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./MainHead/head'); %>
</head>

<link href="/css/home.css" rel="stylesheet" type="text/css">
<body class='contener' style="color:<%= include('../public/avatar/page/fontColor.txt'); %>;background-color:<%= include('../public/avatar/page/backgroundColor.txt'); %>"> 
  <%- include('./Head/Nav'); %>    
    <header class="M_Head" style="  z-index: +9999;"><%- include('./header'); %></header>
    <div class="content" ><%- include('./Home/HomePage001'); %></div>
    <div class="" ><%- include('./Home/HomePage002'); %></div>   
</body>
<script src="/client.js"></script>
</html>
