<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./MainHead/head'); %>
</head>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<body class='contener' style="color:<%= include('../public/avatar/page/fontColor.txt'); %>;background-color:<%= include('../public/avatar/page/backgroundColor.txt'); %>" > 
  <%- include('./Head/Nav'); %>
    <header ><%- include('./header'); %></header>   
    <div><%- include('./Home/HomePage001'); %></div>
    <div><%- include('./Home/HomePage002'); %></div>
</body>
<script src="/client.js"></script>
</html>
