<!-- Hoo2 -->
<link href="/css/Forms.css" rel="stylesheet" type="text/css">
<link href="/css/HomeEdit002.css" rel="stylesheet" type="text/css">
<div class="Headeredit H002">
    <h4>แก้ไข หน้าแรก H002 </h4>  <br/> 
    <div class="promotions"> 
        <%- include('../Editor/HomeEdit002-promo01'); %>
        <%- include('../Editor/HomeEdit002-promo02'); %>
        <%- include('../Editor/HomeEdit002-promo03'); %>
        <%- include('../Editor/HomeEdit002-promo04'); %>
    </div>    
    <div class=""> 
        <%- include('../Editor/HomeEdit002-promoDetail'); %> 
    </div>   
    <div class="promoContact"> 
        <%- include('../Editor/HomeEdit002-promoContactHead01'); %> 
        <%- include('../Editor/HomeEdit002-promoContactHead02'); %> 
        <%- include('../Editor/HomeEdit002-promoContactHead03'); %> 
        <%- include('../Editor/HomeEdit002-promoContactHead04'); %> 
        <%- include('../Editor/HomeEdit002-promoContactContents'); %> 
    </div>  
</div>

