<!-- Hoo2 -->
<link href="/css/Forms.css" rel="stylesheet" type="text/css">
<form  method="post" action="/HomeEdit002/promoContactHead02" class="Headeredit HomeEdit001" enctype="multipart/form-data"  style="margin:0.4rem;ailine-text:center;">
    <h4>แก้ไข Promotion ContactHead #2 </h4><br/>    
      <img  src="/avatar/Home/H002/promoContactHead02/<%- include('../../public/avatar/Home/H002/promoContactHead02/promoContactHead02Img.txt'); %>" alt="Girl in a jacket" style="width:100px;">
      <%- include('../../public/avatar/Home/H002/promoContactHead02/promoContactHead02Name.txt'); %>
      <%- include('../../public/avatar/Home/H002/promoContactHead02/promoContactHead02leval.txt'); %>
      <input name='promoContactHead02Name' type='text' value="<%- include('../../public/avatar/Home/H002/promoContactHead02/promoContactHead02Name.txt');%>" ></input>
      <input name='promoContactHead02leval' type='text'value="<%- include('../../public/avatar/Home/H002/promoContactHead02/promoContactHead02leval.txt');%>"  ></input>
      <input name='promoContactHead02Img' type='file' value="" required></input>
      <button type='submit' >Save</button>
</form>