<!-- Hoo2 -->
<link href="/css/Forms.css" rel="stylesheet" type="text/css">
<form  method="post" action="/HomeEdit002/promoContactHead04" class="Headeredit HomeEdit001" enctype="multipart/form-data"  style="margin:0.4rem;ailine-text:center;">
    <h4>แก้ไข Promotion ContactHead #4 </h4><br/>    
      <img  src="/avatar/Home/H002/promoContactHead04/<%- include('../../public/avatar/Home/H002/promoContactHead04/promoContactHead04Img.txt'); %>" alt="Girl in a jacket" style="width:100px;">
      <%- include('../../public/avatar/Home/H002/promoContactHead04/promoContactHead04Name.txt'); %>
      <%- include('../../public/avatar/Home/H002/promoContactHead04/promoContactHead04leval.txt'); %>
      <input name='promoContactHead04Name' type='text' value="<%- include('../../public/avatar/Home/H002/promoContactHead04/promoContactHead04Name.txt');%>" ></input>
      <input name='promoContactHead04leval' type='text'value="<%- include('../../public/avatar/Home/H002/promoContactHead04/promoContactHead04leval.txt');%>"  ></input>
      <input name='promoContactHead04Img' type='file' value="" required></input>
      <button type='submit' >Save</button>
</form>