<!-- Hoo2 -->
<link href="/css/Forms.css" rel="stylesheet" type="text/css">
<form  method="post" action="/HomeEdit002/promoContactHead03" class="Headeredit HomeEdit001" enctype="multipart/form-data"  style="margin:0.4rem;ailine-text:center;">
    <h4>แก้ไข Promotion ContactHead #3 </h4><br/>    
      <img  src="/avatar/Home/H002/promoContactHead03/<%- include('../../public/avatar/Home/H002/promoContactHead03/promoContactHead03Img.txt'); %>" alt="Girl in a jacket" style="width:100px;">
      <%- include('../../public/avatar/Home/H002/promoContactHead03/promoContactHead03Name.txt'); %>
      <%- include('../../public/avatar/Home/H002/promoContactHead03/promoContactHead03leval.txt'); %>
      <input name='promoContactHead03Name' type='text' value="<%- include('../../public/avatar/Home/H002/promoContactHead03/promoContactHead03Name.txt');%>" ></input>
      <input name='promoContactHead03leval' type='text'value="<%- include('../../public/avatar/Home/H002/promoContactHead03/promoContactHead03leval.txt');%>"  ></input>
      <input name='promoContactHead03Img' type='file' value="" required></input>
      <button type='submit' >Save</button>
</form>