<link href="/css/HomePage002.css" rel="stylesheet" type="text/css">
<div class="H002" >

    <div class="H002_01">
    <!-- promo01 -->
       <div class="D1">
         <img  class="promotion" src="https://inwfile.com/s-dk/xrbk5b.gif" alt="Girl in a jacket" >
         <img  src="/avatar/Home/H002/promo01/<%- include('../../public/avatar/Home/H002/promo01/promo01Img.txt'); %>" alt="Girl in a jacket" >
        <div class='star'> 
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
           <i class="fa-solid fa-star icon"></i>   
        </div>
        <p><%- include('../../public/avatar/Home/H002/promo01/promo01.txt'); %></p>
          <a href="#" style="color:  <%- include('../../public/avatar/page/fontColor.txt'); %>">Real More </a>
       </div>

         <!-- promo02 -->
       <div class="D1">
         <img  class="promotion" src="https://inwfile.com/s-dk/xrbk5b.gif" alt="Girl in a jacket" >
         <img  src="/avatar/Home/H002/promo02/<%- include('../../public/avatar/Home/H002/promo02/promo02Img.txt'); %>" alt="Girl in a jacket" >
           <div class='star'> 
                 <i class="fa-solid fa-star icon"></i>
                 <i class="fa-solid fa-star icon"></i>
                 <i class="fa-solid fa-star icon"></i>
                 <i class="fa-solid fa-star icon"></i>
                  <i class="fa-solid fa-star icon"></i>
            </div>
           <p><%- include('../../public/avatar/Home/H002/promo02/promo02.txt'); %></p>       
          <a href="#" style="color:  <%- include('../../public/avatar/page/fontColor.txt'); %>">Real More </a>
       </div>  
       
        <!-- promo03 -->
       <div class="D1">
         <img  class="promotion" src="https://inwfile.com/s-dk/xrbk5b.gif" alt="Girl in a jacket" >
        <img src="/avatar/Home/H002/promo03/<%- include('../../public/avatar/Home/H002/promo03/promo03Img.txt'); %>" alt="Girl in a jacket" >
        <div class='star'> 
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>   
        </div>
          <p><%- include('../../public/avatar/Home/H002/promo03/promo03.txt'); %></p>
          <a href="#" style="color:  <%- include('../../public/avatar/page/fontColor.txt'); %>">Real More </a>
       </div>  

         <!-- promo04 -->
       <div class="D1">
         <img  class="promotion" src="https://inwfile.com/s-dk/xrbk5b.gif" alt="Girl in a jacket" >
         <img  src="/avatar/Home/H002/promo04/<%- include('../../public/avatar/Home/H002/promo04/promo04Img.txt'); %>" alt="Girl in a jacket" >
        <div class='star'> 
             <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
            <i class="fa-solid fa-star icon"></i>
       </div>
        <p><%- include('../../public/avatar/Home/H002/promo04/promo04.txt'); %></p>
          <a href="#" style="color:  <%- include('../../public/avatar/page/fontColor.txt'); %>">Real More </a>
       </div>

    </div>

    <!-- PromotionDetails -->
    <div class="H002_02">
          <div class="first">
            <img  class="H002-2" src="/avatar/Home/H002/promoDetail/<%- include('../../public/avatar/Home/H002/promoDetail/promoDetailsImg.txt'); %>" alt="Girl in a jacket" >
          </div>
          
          <div class='lest'>
            <h3><%- include('../../public/avatar/Home/H002/promoDetail/promoDetailsHead.txt');%> <i class="fa-solid fa-heart"  style="color:#1E90FF;padding-left:1rem;" ></i></h3>
            <p><%- include('../../public/avatar/Home/H002/promoDetail/promoDetailsTextarea.txt');%>
              </p>
           </div>        
    </div>



    <!-- PromotionContactHead -->
    <div class='H002_03'> 
       <div class="O1">
           <img s src="/avatar/Home/H002/promoContactHead01/<%- include('../../public/avatar/Home/H002/promoContactHead01/promoContactHead01Img.txt'); %>">
           <section><%- include('../../public/avatar/Home/H002/promoContactHead01/promoContactHead01Name.txt');%></section>
           <p><%- include('../../public/avatar/Home/H002/promoContactHead01/promoContactHead01leval.txt');%> </p>
       </div>

       <div class="O1">
        <img s src="/avatar/Home/H002/promoContactHead02/<%- include('../../public/avatar/Home/H002/promoContactHead02/promoContactHead02Img.txt'); %>">
        <section><%- include('../../public/avatar/Home/H002/promoContactHead02/promoContactHead02Name.txt');%></section>
        <p><%- include('../../public/avatar/Home/H002/promoContactHead02/promoContactHead02leval.txt');%> </p>
      </div>
         
      <div class="O1">
        <img s src="/avatar/Home/H002/promoContactHead03/<%- include('../../public/avatar/Home/H002/promoContactHead03/promoContactHead03Img.txt'); %>">
        <section><%- include('../../public/avatar/Home/H002/promoContactHead03/promoContactHead03Name.txt');%></section>
        <p><%- include('../../public/avatar/Home/H002/promoContactHead03/promoContactHead03leval.txt');%> </p>
      </div>

      <div class="O1">
        <img s src="/avatar/Home/H002/promoContactHead04/<%- include('../../public/avatar/Home/H002/promoContactHead04/promoContactHead04Img.txt'); %>">
        <section><%- include('../../public/avatar/Home/H002/promoContactHead04/promoContactHead04Name.txt');%></section>
        <p><%- include('../../public/avatar/Home/H002/promoContactHead04/promoContactHead04leval.txt');%> </p>
      </div>

          
  
   </div>   


 <!-- PromotionContact -->
   <div class="H002_04">
     <h3><%- include('../../public/avatar/Home/H002/promoContactContents/promoContactContentHead.txt');%><i class="fa-solid fa-star" style="color:#1E90FF;padding-left:1rem;" ></i></h3>
      <p><%- include('../../public/avatar/Home/H002/promoContactContents/promoContacContentarea.txt');%></p>
    </div>
</div>   
   